<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserção remédio</title>
</head>
<body>
    <form action="#" th:action="@{/save}" th:object="${remedio}" method="post">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descriçao</th>
                <th>Preço</th>
                <th>Compostos</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="nome" th:field="*{nome}"/>
                    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                    </td>
                    <td><input name="descricao" th:field="*{descricao}"/>
                        <div th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></div>
                    </td>
                    <td><input name="preco" th:field="*{preco}"/>
                        <div th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></div>
                    </td>
                    <td>
                        <div th:each="composto, compostoStat: *{listaDeCompostos}">
                            <select th:field="*{listaDeCompostos[__${compostoStat.index}__]}">
                                <option th:each="composto: ${compostos}" th:value="${composto.id}" th:text="${composto.nome}">
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <fieldset>
            <input type="submit" id="submitButton" th:value="Salvar">
            <input type="reset" id="resetButton" th:value="Resetar">
        </select>
    </form>
</body>
</html>