<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remedios</title>
</head>
<body>
<h1>Lista de remedios</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Compostos</th>
    </tr>
    <tr>
    <tr th:each="rem : ${remedios}">
        <th>
        <td><span name="nome" th:text="${rem.nome}"></span></td>
        <td><span name="descricao" th:text="${rem.descricao}"></span></td>
        <td><span name="preco" th:text="${rem.preco}"></span></td>
        <td><span name="compostos" th:each="composto : ${rem.listaDeCompostos}" th:text="${composto.nome} "></span>
        </td>
        </th>
    </tr>
</table>

</body>
</html>